/* 
	Guy Moore
*/

h1
{
	color: #0071ce; //Light Blue
	font-family: helvetica;
	padding: 1em;
	text-align: center;
}

.tile
{
	width: 45%;
	float: left;
	border: 1px solid black;
	margin: 0.25em;
	text-align: center;
}

#header
{
	background-color: #555; //Grey
|
