/* 
	Guy Moore
*/

/* Single column layout */
@media ( max-width: 499px )
{
	.tile
	{
		width: 90%;
	}
}

/* Double Column layout */
@media ( min-width: 500px ) and ( max-width: 1000px )
{
	.tile
	{
		width: 40%;		
		margin: 2.5%;
	}

	#mainBody div:nth-child(2n+1)
	{
		clear: left;
	}
}

/* Triple column layout */
@media ( min-width: 1001px )
{
	.tile
	{
		width: 22%;
		margin: 1.555555%
	}

	#mainBody div:nth-child(3n+1)
	{
		clear: left;
	}
}
	
html
{
	font-size: 16px;
}

a, a:visited
{
	text-decoration: none;
	color: #0071ce; /*Light Blue*/
}

hr
{
	clear: both;
	margin: 3em 1em 1em 1em;
}

body
{
	margin: 0 auto;
}


h1
{
	font-weight: 700;
	font-size: 2rem;
	float: left;
}

#header
{
	color: #0071ce; /*Light Blue*/
	padding: .25em;
	font-family: 'Lato', sans-serif;

	border-top: 7px solid #DDD; /*Grey*/
}

#header ul
{
	float: right;
	margin-right: 10%;
}

#header li
{
	display: inline-block;
	margin: 0 1em 0 1em;
}

.tile
{
	float: left;

	border: 1px solid #AAA;
	border-radius: 5px;

	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #0071ce; /*Light Blue*/

	padding: 0.25em;


}

.tile:hover
{
	background: #0071ce; /*Light Blue*/
	color: #FFF;

	box-shadow: 1px 3px 5px #AAA;
}

.tile .categoryTitle
{
	margin: 1em 0 1em 0;
}

#sidebar
{
	position: fixed;
	width: 10%;
	text-align: center;
	right: 0px;
	bottom: 0px;
	top: 0px;
}

.sideBarImage
{

}

.sideBarElement
{
	margin: 7em 1em 4em 1em;
	width: 50%;
}

.itemControls
{
}
