/* 
	Guy Moore
*/

body
{
	max-width: 768px;
	margin: 0 auto;
	position: relative;
}

h1
{
	color: #0071ce; //Light Blue
	font-family: helvetica;
	padding: 1em;
	text-align: center;
}

.tile
{
	width: 40%;
	float: left;
	border: 1px solid black;
	margin: 2.5%;
	text-align: center;
}

#header
{
	background-color: #000; //Grey
}

#sidebar
{
	position: fixed;
	width: 10%;
	text-align: center;
	right: 0px;
	bottom: 0px;
	top: 0px;
}

.sideBarImage
{
}

.sideBarElement
{
	margin: 4em 1em 4em 1em;
	width: 50%;
}

.itemControls
{
}
